:root {
  --font-general: "Inter", sans-serif;
  font-family: var(--font-general);

  --primario-100: #007bff;
  --secundario-100: #6c757d;
  --primario-80: #3395ff;
  --primario-70: #4da3ff;
  --secundario-80: #899197;
  --primario-50: #7fbcff;
  --secundario-70: #989ea4;
  --secundario-50: #b5babe;
  --secundario-15: #e9eaeb;
  --primario-10: #e6f2ff;
  --fondo-100: #ffffff;
  --superficie-100: #f8f9fa;
  --texto-black-100: #000000;
  --texto-black-60: rgba(0, 0, 0, 0.6);
  --texto-white-100: #ffffff;
  --error-100: #dc3545;
  --advertencia-100: #ffc107;
  --exito-100: #28a745;
  --texto-blue-100: #007bff;
  --texto-green-100: #28a745;
  --texto-yellow-100: #ffc107;
  --texto-red-100: #dc3545;
  --error-50: rgba(220, 53, 69, 0.5);
  --border-gray: #dee2e6;
}

body {
  font-family: var(--font-general);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--superficie-100);
}

header {
  width: 100%;
}

main {
  padding: 19px 0;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--border-gray);
    width: 100%;
  }

#general-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 11px;
  border-radius: 20px;
  background-color: var(--fondo-100);
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#satisfaccion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#calificacion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recomendacion-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#botones-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
